# readthedocs needs these here? :(
# seems like we shouldn't need numpy to build docs?
# or doc crap when not building docs...
# seems nonoptimal
#sphinx
sphinxcontrib-napoleon
sphinx_py3doc_enhanced_theme

#pytest-dbfixtures
#importlib

# mv ordereddict to tox.. py vers dep
#OrderedDict

# why was numpy even here?
#numpy + pypy isnt happy in travis :(
#numpy

pyaml

pymongo==2.8  # 3.0 has the "false is not a read preference" issue
mongoengine

nose

# mds is conda'd... and tox/pip don't pick up reqs from conda recipe?
# so some mds deps here :(
pytz
#-e git://github.com/cowanml/metadatastore.git@dev#egg=metadatastore
#-e git://github.com/cowanml/metadatastore.git@generalize_db_utils#egg=metadatastore
-e git://github.com/cowanml/metadatastore.git@gendb_and_py26#egg=metadatastore
#-e git://github.com/nsls-ii/metadatastore.git#egg=metadatastore

-e .


# for pytest-dbfixtures
# note!  had to do small hack to mirakuru :( to get 'tox -e 2.6' to work locally
# need to redo if the virtualenv gets rebuilt
# diff /h/cowan/projects/john_proto_dev.notes/samplemangler/.tox/2.6/lib/python2.6/site-packages/mirakuru/compat.py{~,}                                      
# 27c27
# < if sys.version_info.major[0] == 2:
# ---
# > if sys.version_info[0] == 2:
